<div>
  <% posts.each do |post| %>
    <div>
      <%= image_tag "http://lorempixel.com/400/300/business/#{post.id/10+1}" %>
    </div>
    <div>
      <%= post.company.name %>
      <%= post.title %>
      <div>
        <% post.sectors.each do |sector| %>
          <%= sector.name %>
        <% end %>
      </div>
      <%= post.period %>
      <%= post.content %>
      <%= post.salary %>
    </div>
    
    <%= button_to "詳細を見る", "/posts/#{post.id}", method: :get %>
    <% if current_user && current_user.is_student %>
      <%= button_to "気になる" %>
    <% else %>
      <% if current_user.company.posts.include?(post) %>
        <%= link_to "内容を編集する", "/posts/#{post.id}/edit" %>
      <% end %>
    <% end %>
  <% end %>
</div>
