<div class="post-list-box-container">
    <% posts.each do |post| %>
        <div class="post-box posts">
            <div class="post-img"><%= image_tag "http://lorempixel.com/400/300/business/#{post.id%10+1}" ,class:"post-img"%></div>
            <div class="post-text-box">
                <h4><%= post.company.name %></h4>
                <h3><%= post.title %></h3>
                <div class="post-tag">
                    <!--応募タグ-->
                    <i aria-hidden="true" class="fas fa-tag"></i> 
                    <ul>
                        <% post.sectors.each do |sector| %>
                        <%= sector.name %>
                        <% end %>
                    </ul>               
                </div>
                <ul>
                    <li class="post-summary">
                        <p>就業期間：</p>
                        <p><%= post.period %></p>
                    </li>
                    <li class="post-summary">
                        <p>業務内容：</p>
                        <p><%= post.content %></p>
                    </li>
                    <li class="post-summary">
                        <p>給与体制：</p>
                        <p><%= post.salary %></p>
                    </li>
                </ul>
                <div class="post-button-container">
                    <div>
                        <p class="post-deadline">掲載終了まで後10日</p>
                        <div class="inline-block">
                            <%= link_to "/posts/#{post.id}" do %>
                            <button class="normal-button">詳細を見る</button>
                            <% end %>
                        </div>
                        <div class="inline-block">
                            <button class="yellow-button">
                                <i aria-hidden="true" class="far fa-bookmark"></i>
                                気になる
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <% posts.each do |post| %>
        <div class="post-box posts">
            <div class="post-img"><%= image_tag "http://lorempixel.com/400/300/business/#{post.id%10+1}" ,class:"post-img"%></div>
            <div class="post-text-box">
                <h4><%= post.company.name %></h4>
                <h3><%= post.title %></h3>
                <div class="post-tag">
                    <!--応募タグ-->
                    <i aria-hidden="true" class="fas fa-tag"></i> 
                    <ul>
                        <% post.sectors.each do |sector| %>
                        <%= sector.name %>
                        <% end %>
                    </ul>               
                </div>
                <ul>
                    <li class="post-summary">
                        <p>就業期間：</p>
                        <p><%= post.period %></p>
                    </li>
                    <li class="post-summary">
                        <p>業務内容：</p>
                        <p><%= post.content %></p>
                    </li>
                    <li class="post-summary">
                        <p>給与体制：</p>
                        <p><%= post.salary %></p>
                    </li>
                </ul>
                <div class="post-button-container">
                    <div>
                        <p class="post-deadline">掲載終了まで後10日</p>
                        <div class="inline-block">
                            <%= link_to "/posts/#{post.id}" do %>
                            <button class="normal-button">詳細を見る</button>
                            <% end %>
                        </div>
                        <div class="inline-block">
                            <button class="yellow-button">
                                <i aria-hidden="true" class="far fa-bookmark"></i>
                                気になる
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <% posts.each do |post| %>
        <div class="post-box posts">
            <div class="post-img"><%= image_tag "http://lorempixel.com/400/300/business/#{post.id%10+1}" ,class:"post-img"%></div>
            <div class="post-text-box">
                <h4><%= post.company.name %></h4>
                <h3><%= post.title %></h3>
                <div class="post-tag">
                    <!--応募タグ-->
                    <i aria-hidden="true" class="fas fa-tag"></i> 
                    <ul>
                        <% post.sectors.each do |sector| %>
                        <%= sector.name %>
                        <% end %>
                    </ul>               
                </div>
                <ul>
                    <li class="post-summary">
                        <p>就業期間：</p>
                        <p><%= post.period %></p>
                    </li>
                    <li class="post-summary">
                        <p>業務内容：</p>
                        <p><%= post.content %></p>
                    </li>
                    <li class="post-summary">
                        <p>給与体制：</p>
                        <p><%= post.salary %></p>
                    </li>
                </ul>
                <div class="post-button-container">
                    <div>
                        <p class="post-deadline">掲載終了まで後10日</p>
                        <div class="inline-block">
                            <%= link_to "/posts/#{post.id}" do %>
                            <button class="normal-button">詳細を見る</button>
                            <% end %>
                        </div>
                        <div class="inline-block">
                            <button class="yellow-button">
                                <i aria-hidden="true" class="far fa-bookmark"></i>
                                気になる
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <!--フッターページ遷移-->
    <ul class="page-nav">
        <li><p class="page-nav-num">1</p></li>
        <li><p class="page-nav-num">2</p></li>
        <li><p class="page-nav-num">3</p></li>
        <li><p class="page-nav-omitted">…</p></li>
        <li><p class="page-nav-num">6</p></li>
    </ul>
</div>
