<div class="contents">
    <h3>プロフィール</h3>
    <p><%= @student.image %></p>
    <p><%= @student.first_name %></p>
    <p><%= @student.last_name %></p>
    <p><%= @student.first_name_kana %></p>
    <p><%= @student.last_name_kana %></p>
    <p><%= @student.gender %></p>
    <p><%= @student.age %></p>
    <p><%= @student.prefecture %></p>
    <p><%= @student.university %></p>
    <p><%= @student.faculty %></p>

    <h3>業種</h3>
    <% @student.sectors.each do |sector| %>
    <p><%= sector.name %></p>
    <% end %>

    <h3>業務内容</h3>
    <% @student.work_contents.each do |work_content| %>
    <p><%= work_content.name %></p>
    <% end %>

    <h3>スキル一覧</h3>
    <% @student.skills.each do |skill| %>
    <p><%= skill.name %></p>
    <p><%= skill.level %></p>
    <p><%= skill.content %></p>
    <% end %>

    <h3>アルバイト・インターン歴</h3>
    <% @student.careers.each do |career| %>
    <p><%= career.name %></p>
    <p><%= career.start_date %></p>
    <p><%= career.end_date %></p>
    <p><%= career.role %></p>
    <p><%= career.content %></p>
    <% end %>


    <h3>アピールポイント</h3>
    <% @student.appeals.each do |appeal| %>
    <p><%= appeal.content %></p>
    <% end %>
</div>