<!--募集一覧-->
<div class="student-contents">
    <div class="post-list-contents">
        <!--検索バー-->
        <div class="search-form-container">
            <p class="serch-form-title">検索条件</p>
            <%= form_with url: "/posts/search", method: :get, html: {class: "search-condition"}, local: true do |f| %>
                <p>業務内容</p>
                <% @sectors.each do |sector| %>
                    <div class="search-contents">
                    <%= f.check_box :sector_id, {}, sector.id, nil %>
                    <%= f.label :sector_name, sector.name ,class:"search-contents"%>
                    </div>
                <% end %>
                <div class="d-none">
                <%= f.submit '検索' %>
                </div>
            <% end %>
          <%= form_with url: "/posts/search", method: :get, html: {class: "search-condition"}, local: true do |f| %>
            <p>業種</p>
                <% @sectors.each do |sector| %>
                <div class="search-contents">
                    <%= f.check_box :sector_id, {}, sector.id, nil %>
                    <%= f.label :sector_name, sector.name ,class:"search-contents"%>
                    </div>
                <% end %>
                <div class="d-none">
                <%= f.submit '検索' %>
                </div>
            <% end %>
            <button class="normal-button">詳しく検索する</button>
        </div>
        <div>
            <div class="mb-5"><!--並べ替えのやつ-->
                <%= form_with url: "/posts/list", method: :get, local: true do |f|  %>
                    <%= f.select :sortOrder, {おすすめ順: 0, 人気順: 1, 新しい順: 2}, {include_blank: '並び順'}, onchange: "this.form.submit();" %>
                <% end %>
            </div>
            <%= render '/shared/posts', posts: @posts %>
            <!--ページ繊維-->
        </div>
    </div>
</div>
