<div class="login-modal-container modal-hidden">
    <div class="login-modal">
        <h3 class="login-title">ログイン</h3>
        <button class="facebook-button">Facebook</button>
        <div class="login-way-hr">
            <span class="login-way"></span>
            <h4 class="login-way">または</h4>
            <span class="login-way"></span>
        </div>
        <div class="login-form-container">
            <%= form_for(:session, url: login_path) do |f| %>
                <ul class="login-form-container">
                    <li><%= f.email_field :email, class: 'form-control login-form' ,placeholder: 'メールアドレス'%></li>
                    <li><%= f.password_field :password, class: 'form-control' ,placeholder: 'パスワード'%></li>
                </ul>
                <h4 class="login-form-container">パスワードをお忘れですか？</h4>
                <%= f.submit "ログイン", class: "btn btn-primary login-button" %>
            <% end %>
        </div>
        <div class="login-hr"></div>
        <div class="account-regist">
            <h4 class="login-way">登録がお済みでない方</h4>
            <div class="regist-button">登録はこちら</div>
        </div>
        <p class="login-cancel">キャンセル</p>
    </div>
</div>
<div class="top-image">
    <%= image_tag 'top.png', class: 'top-image' %>
</div>