<h1><%= @greeting %></h1>
<%= form_with url: "/sandbox/sandbox/send", method: :post, local: true do |f| %>
  <%= f.email_field :email %>
  <%= f.hidden_field :token, :value => 'aaaa' %>
  <%= f.submit %>
<% end %>
