<% if current_user.is_student %>
    <div class="header-container">
        <img alt="uniwork" src="/assets/logotype/uniwork-logotype.png">
        <!--サーチバー-->
        <div>
            <%= form_with(url: "#", class: "header-search-bar") do |f| %>
                <%= f.text_field :search, placeholder: "ワードで検索する"  %>
                <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit" ,class:'header-search-button' %>
            <% end %>
        </div>
        
        <ul class="link-search">
            <li>
                <a href="search"><p>募集を探す</p></a>
            </li>
            <li>
                <a href="search"><p>企業を探す</p></a>
            </li>
        </ul>
        <ul class="header-icon-container">
            <li><a href="#"><i class="header-icon fa fa-calendar-o" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="header-icon fa fa-commenting-o" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="header-icon fa fa-question-circle" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="header-icon fa fa-user-circle-o" aria-hidden="true"></i></a></li>
        </ul>
    </div>
<% else %>
<!-- ここに企業ヘッダーをかく -->
    <div class="header-container">
        <img alt="uniwork" src="/assets/logotype/uniwork-logotype.png">
        <!--サーチバー-->
        <div>
            <%= form_with(url: "#", class: "header-search-bar") do |f| %>
                <%= f.text_field :search, placeholder: "ワードで検索する"  %>
                <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit" ,class:'header-search-button' %>
            <% end %>
        </div>
        <ul class="link-search">
            <li>
                <a href="search"><p>学生を探す</p></a>
            </li>
        </ul>
        <ul class="header-icon-container">
            <li><a href="#"><i class="header-icon fa fa-calendar-o" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="header-icon fa fa-commenting-o" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="header-icon fa fa-question-circle" aria-hidden="true"></i></a></li>
        </ul>
    </div>
<% end %>