<!--会社詳細ページ-->
<%= render 'shared/user_menu' %>
<div class="company-contents">
    <div>
        <div class="company-profile">
            <%= @company.name %>
            <%= @company.url %>
            <%= @company.address %>
        </div>
        <button class="yellow-button">企業をフォローする</button>
    </div>
    <div>
        <%= image_tag 'http://lorempixel.com/400/300/business/' %>
    </div>
    <ul>
        <li>
            <p>業種</p>
            <p>
            <p>
                <% @company.sectors.each do |sector| %>
                <%= sector.name %>
                <% end %>
            </p>
        </li>
        <li>
            <p>事業内容</p>
            <p>
                <% @company.business_contents.each do |business_content| %>
                    <%= business_content.name %>
                <% end %>
            </p>
        </li>
        <li>
            <p>主な業務内容</p>
            <p>
                <% @company.work_contents.each do |work_content| %>
                    <%= work_content.name %>
                <% end %>
            </p>
        </li>
    </ul>

    <div>
        <% @company.summaries.each do |summary| %>
        <div>
            <h3><%= summary.title %></h3>
            <p><%= summary.content %></p>
        </div>
        <% end %>
    </div>
    <div>
        <h3>募集中の業務</h3>
        <% @company.posts.each do |post| %>
        <div　class="post-box">
            <%= image_tag 'http://lorempixel.com/400/300/business/' %>
            <% post.sectors.each do |sector| %>
                <%= sector.name %>
            <% end %>
            <%= post.company.name %>
            <%= post.title %>
            <%= post.period %>
            <%= post.content %>
            <%= post.salary %>
        </div>
        <% end %>
    </div>
    <div>
        <h3>学生レビュー</h3>
        <div>
            <% @company.reviews.each do |review| %>
            <div>
            <%= review.evaluation %>
            <%= review.title %>
            <%= review.content %>
        </div>
        <% end %>
        </div>
    </div>
    
</div>